.hero {
  background-image: url("../../../img/background.jpg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .hero {
    background-image: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(48.96%, #fff), to(#e5e5e5));
    background: linear-gradient(180deg, #fff 48.96%, #e5e5e5 100%);
  }
}

.hero__content {
  padding: 0 10%;
  padding-bottom: 112px;
}

@media (max-width: 767px) {
  .hero__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 23px 60px;
  }
}

.hero__content-title {
  font-family: "DM Serif Display", serif;
  font-size: 3.5rem;
  font-weight: 400;
  color: #696a86;
  line-height: 1;
  margin-top: 196px;
  margin-bottom: 30px;
  max-width: 548px;
}

@media (max-width: 767px) {
  .hero__content-title {
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .hero__content-title {
    margin-top: 30px;
  }
}

.hero__content-text {
  color: #696a86;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: none;
  margin-bottom: 30px;
  max-width: 751px;
}

@media (max-width: 767px) {
  .hero__content-text {
    font-size: 0.875rem;
    line-height: 1.93;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .hero__content-text {
    margin-bottom: 32px;
  }
}

.hero__content-btn {
  background-color: #9b9bca;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 16px 66px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: #fff;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  text-align: none;
}

@media (max-width: 767px) {
  .hero__content-btn {
    font-size: 0.875rem;
    line-height: 1.93;
    text-align: center;
  }
}

.hero__content-btn:hover, .hero__content-btn:focus {
  background-color: #5858a7;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(196, 196, 196, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 10%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .header {
    padding: 15px;
  }
}

.header__logo {
  width: 72px;
}

@media (max-width: 767px) {
  .header__logo {
    width: 62px;
  }
}

.header__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1049px) {
  .header__nav {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav-item-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: 500;
  color: #717784;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  padding-right: 58px;
}

.header__nav-item-link:hover, .header__nav-item-link:focus {
  color: #2a2d32;
}

.header__nav-btn {
  background-color: #9b9bca;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 16px 66px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: #fff;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  text-align: none;
}

@media (max-width: 767px) {
  .header__nav-btn {
    font-size: 0.875rem;
    line-height: 1.93;
    text-align: center;
  }
}

.header__nav-btn:hover, .header__nav-btn:focus {
  background-color: #5858a7;
}

.header__menu {
  display: none;
}

@media (max-width: 1049px) {
  .header__menu {
    display: inline;
    width: 50px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    display: inline;
    width: 50px;
  }
}

.service {
  padding: 0 10%;
}

@media (max-width: 767px) {
  .service {
    padding: 0 24px;
    margin-bottom: 52px;
  }
}

.service__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__top-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.625rem;
  font-weight: 500;
  color: #626780;
  line-height: 1;
  margin-top: 95px;
  margin-bottom: 34px;
}

@media (max-width: 767px) {
  .service__top-title {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .service__top-title {
    margin-top: 52px;
    margin-bottom: 30px;
  }
}

.service__top-text {
  color: #626780;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 116px;
  max-width: 718px;
}

@media (max-width: 767px) {
  .service__top-text {
    font-size: 1rem;
    line-height: 1.93;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .service__top-text {
    margin-bottom: 72px;
  }
}

.service__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1049px) {
  .service__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .service__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 40px;
  }
}

.icon-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1049px) {
  .icon-box {
    max-width: 40%;
  }
}

@media (max-width: 767px) {
  .icon-box {
    max-width: 100%;
  }
}

.icon-box__icon {
  margin-bottom: 21px;
  width: 65px;
}

.icon-box__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  color: #696a86;
  line-height: 1.82;
  margin-bottom: 12px;
}

@media (max-width: 767px) {
  .icon-box__title {
    font-size: 1.375rem;
    text-align: center;
  }
}

.icon-box__text {
  color: #626780;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 191px;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .icon-box__text {
    font-size: 1rem;
    line-height: 1.93;
    text-align: center;
  }
}

@media (max-width: 1049px) {
  .icon-box__text {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .icon-box__text {
    margin-bottom: 51px;
  }
}
/*# sourceMappingURL=style.css.map */