$breakpoint-md: 768px;

@mixin mq($screen-size: $breakpoint-md) {
    @media (max-width: #{$screen-size}) {
        @content;
    }
}

$breakpoints: (
    lg: 1050px,
    md: 768px,
);

@mixin mq-until($size-name, $breakpoints-map: $breakpoints) {
    @media (max-width: map-get($breakpoints-map, $size-name) - 1) {
        @content;
    }
}
