//fonts

$DMSerifDisplay: "DM Serif Display", serif;
$Poppins: "Poppins", sans-serif;

//colors
$battleship-grey: #717784;
$battleship-grey-two: #696a86;
$battleship-grey-three: #626780;
$white: #fff;
$white-three: #e5e5e5;
$light-grey-blue: #9b9bca;
$pinkish-grey-10: rgba(196, 196, 196, 0.1);

//functions

@function rem-calc($size) {
    $rem: $size / 16px;
    @return #{$rem}rem;
}
